.sidebarListItem {
	margin-left: 10px;
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	/* background-color: red; */
	/* margin-bottom: 4px; */

}
.sidebarListName {
	font-size: 15px;
	font-family: Lato, sans-serif;
	font-weight: 400;
	padding-bottom: 5px;
}

.sidebarList {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
}


/*Taken from W3Schools: https://www.w3schools.com/css/css_max-width.asp*/
.dot {
	height: 7px;
	width: 7px;
	background-color: red;
	border-radius: 50%; 
	display: inline-block;
	margin-bottom: 2px;
	/* align-items: center; */
	/* justify-content: center; */
  }