.sidebar {
	background-color: #3f0e40;
	height: 100%;
	overflow: auto;
	flex: none;
	color: white;
	width: 220px;
}

.bar {
	height: 38px;
	background-color: #350d36;
}

.channelContainer {
	display: flex;
	justify-content: space-between;
	width: auto;
	height: 95%;
	flex-direction: row;
}

.chatContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.mainChat {
	width: 100%;
	/* min-height: 365px; */
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column-reverse;
	
	/* TODO: Fix the scrolling issue. Adding this CSS param hides the scroll bar */
	justify-content: flex-start;
}
.chatBar {
	min-height: 120px;
	background-color: white;
	z-index: 10;
	padding-left: 10px;
	padding-right: 10px;
}

.singleMessage {
	background-color: white;
	display: flex;
	position: relative;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: "Lato", sans-serif;
	font-size: 15px;
	/* overflow-wrap: normal; */
	/* z-index: -1; */
	border-radius: 3px;
}

.singleMessage:hover {
	background-color: rgb(245, 245, 245);
}

.messageContainer {
	width: auto;
	margin-left: 10px;
}

.timestamp {
	font-size: 13px;
	font-family: "Lato", sans-serif;
	color: grey;
	font-weight: 400;
	margin-left: 5px;
}

.username {
	font-size: 15px;
	font-family: Lato, sans-serif;
	font-weight: 600;
}

/* .avatarContainer {
	/* height: 36px; */
/* width: 36px; */
/* height: 36px; */
/* display: inline-block; */
/* background-color: brown; */
/* } */

.avatar {
	width: 36px;
	height: 36px;
	border-radius: 4px;
}

.messageContent {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: gray;
	text-align: left;
	color: rgb(29, 28, 29);
	line-height: 1.2;
	margin-top: 5px;
}

/*End Channel CSS*/
