.chatArea {
	/* width: 70%; */
	/* flex: */
	border-radius: 5px;
	height: 60px;
	/* margin-bottom: 30px; */
	border: 1px solid black;
	font-size: 14px;
	font-family: Lato, sans-serif;
	font-weight: 200;
	padding-left: 40px;
	padding-top: 20px;
	/* display: flex; */
	flex-direction: column;
	flex: 1;
	resize: none;
	margin-right: 10px;
}

.rich-chat-area {
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 5px;
	max-height: 120px;
	min-height: 80px;
	border: 1px solid black;
	font-size: 14px;
	font-family: Lato, sans-serif;
	font-weight: 200;
	/* padding-left: 40px;
	padding-top: 20px; */
	/* display: flex; */
	flex-direction: column;
	flex: 1;
	resize: none;
	margin-right: 10px;
	margin-bottom: 50px;
}

.formFieldContainer {
	display: flex;
}

.quill {
	display: flex;
	flex-direction: column-reverse;
	border-top: 1px solid lightgrey;
	align-items: stretch;
	margin-right: 28px;
	border: 1px solid black;
	border-radius: 10px;
}

.ql-toolbar.ql-snow {
	border: none !important;
	padding: 4px 8px 4px 8px !important;
	border-radius: 0px 0px 10px 10px !important;
	background-color: #f1f0f0 !important;
	display: flex;
	justify-content: space-between !important;
}

.ql-snow.ql-toolbar:after,
.ql-snow .ql-toolbar:after {
	content: unset !important;
}
.ql-container.ql-snow {
	border-bottom: 1px solid #ccc !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

/* #emoji-palette {
	position: absolute !important;
	top: 100% !important;
	left: 100% !important;
	right: 100px;
	border-radius: 10px !important;
} */

#emoji-palette {

width: 100%;
position: absolute !important;
/* bottom: 100px !important; */
top: -217px !important;
/* left: 5% !important; */
right: 0px;
left: unset !important;
/* left: 450px !important; */
border-radius: 10px !important;
}
#tab-panel .bem {
	margin: 5px;
	zoom: 125%;
}

#tab-toolbar {
	border-radius: 10px 10px 0px 0px;
}

#tab-panel {
	border-radius: 0px 10px 10px 10px;
}

.ql-toolbar.ql-snow .ql-formats {
	margin-right: 0px !important;
}

scrollbar {
	background-color: blue;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	/* background-color: rgb(226, 226, 226); */
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(219, 216, 219, 0.808);
}
