.chatArea {
	/* width: 70%; */
	/* flex: */
	border-radius: 5px;
	height: 60px;
	/* margin-bottom: 30px; */
	border: 1px solid black;
	font-size: 14px;
	font-family: Lato, sans-serif;
	font-weight: 200;
	padding-left: 40px;
	padding-top: 20px;
	/* display: flex; */
	flex-direction: column;
	flex: 1;
	resize: none;
	margin-right:10px;
}

.formFieldContainer {
	display: flex;
}