.createNewChannelContainer {
	display:flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 7px;
}
.createNewChannelContainer:hover {
	background-color: green;
	cursor: pointer;
}

.createNewChannelTitle {
	font-size: 14px;
	font-family: "Helvetica Neue", sans-serif;

}
.createChannelIcon {
	padding-right: 5px;
	font-size: 20px;
}