.imagePreview img {
	width: 72px;
	height: 72px ;
}

.profileUpperContainer {
	
	display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
}

.imagePreviewContainer {
	border: 1px solid red;
	display: flex;
	justify-content: space-around;
	align-content: stretch;
	height: 72px;
	/* width: 100px; */
}

.profileFileUpload {

}