.sidebarListItem {
	padding-left: 5px;
	/* font-family: Lato, sans-serif; */
	font-family: "Helvetica Neue", sans-serif;
	line-height: 1.75;
	font-weight: 400;
	font-size: 14px;
	color: #cac4c9;
}

a.sidebarListItem {
	max-width: 30ch;
	text-overflow: ellipsis;
	overflow: hidden;

	text-decoration: none;
}

.sidebarListItem:hover {
	/* background-color:#4c9689 */
	background-color: rgb(88, 87, 87);
	/* background-color: orange; */
}

.sidebarListName {
	font-size: 14px;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 400;
	padding-bottom: 5px;
	padding-left: 5px;
}

.sidebarList {
	padding-bottom: 10px;
	padding-top: 10px;
	/* padding-left: 10px; */
}

/*Taken from W3Schools: https://www.w3schools.com/css/css_max-width.asp*/
.dot {
	height: 7px;
	width: 7px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 2px;
	/* align-items: center; */
	/* justify-content: center; */
}
