.sidebarListItem {
	padding: 0px 15px 0px 12px;
	/* font-family: Lato, sans-serif; */
	font-family: "Circular", sans-serif;
	line-height: 28px;
	font-weight: 200;
	font-size: 15px;
	letter-spacing: 1.1px;
	color: #cac4c9;
	/* color: white; */
}



.sidebarListItem:hover {
	/* background-color: rgb(163, 163, 163); */
	/* background-color: orange; */
}

.sidebarListItemSelected {
	/* background-color:#4c9689; */
	background-color: #1164a3;
	color:white !important;
	padding: 0px 15px 0px 12px;
	
}

a.sidebarListItemSelected {
	/* background-color:#4c9689; */
	/* background-color: #1164a3; */
	color:white;
	/* padding: 0px 15px 0px 12px; */
	
}

a.sidebarListItem {
	/* max-width: 30ch; */
	/* text-overflow: ellipsis; */
	/* overflow: hidden; */
	color: #cac4c9;
	text-decoration: none;
}

.sidebarListName {
	font-size: 14px;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 400;
	/* padding-bottom: 5px; */
	/* padding-left: 5px; */
}

.sidebarList {
	padding-bottom: 10px;
	padding-top: 10px;
	/* padding-left: 10px; */
}

/*Taken from W3Schools: https://www.w3schools.com/css/css_max-width.asp*/
.dot {
	height: 7px;
	width: 7px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	/* align-items: center; */
	/* justify-content: center; */
}
