
.loginFormContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* border: 2px solid black */
}

.loginForm {
	display: inline-block;
	width: 650px;
	/* height: 500px; */
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.657);
}

.signinup{
	display: inline-block;
	width: 348px;
	margin: 0px 0px 8px;
	padding: 12px;
	text-align: left;
	border-radius: 0.25rem;
	border: 1px solid #868686;
	/* box-shadow: none; */
	font-size: 16px;
}

input::placeholder {
	font-size: 1.25rem;
	font-family: inherit;
	padding: 0.75;
}

p.properties {
	display: inline-block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 16px;
	text-align: left;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	/* text-align: left; */
}

p.properties.message {
	display: block;
	text-align: center;
}

span.strong {
	font-weight: 700;
}

button.buttonLogin {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	line-height: 16px;
	text-align: center;
	background-color: #007a5a;
	color: white;
	width: 375px;
	height: 47px;
	padding-top: 17px;
	padding-bottom: 16px;
	padding-right: 32px;
	padding-left: 32px;
	border-radius: 4px;
	font-weight: 550;
	margin-top: 6px;
}

.submit {
	/* text-align: center; */
	/* font-weight: 200; */
}

h1.loginFormHeader {
	font-size: 28px;
	/* line-height: 2.5rem; */
	text-align: center;
	font-weight: 900;
	font-family: "Poppins", sans-serif;
	/* display: block; */
}
.loginFormSubContainer {
	text-align: center;
}

.loginFormMiddleContainer {
	text-align: center;
}

/* .alert {
    padding: .75rem 1rem .75rem 3rem;
    border: 1px solid #ddd;
    background: #fff;
    color: #1d1c1d;
    border-left-width: 5px;
    margin: 0 auto 1rem;
	border-radius: .25rem;
	border-left-color: #e01e5a;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	text-align: center;
} */

.alert {
	padding: 0.75rem 1rem 0.75rem 3rem;
	border: 1px solid #ddd;
	background: #fff;
	color: #1d1c1d;
	border-left-width: 5px;
	margin: 0 auto 3rem;
	border-radius: 0.25rem;
	border-left-color: #e01e5a;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	text-align: center;
	display: inline-block;
}

video {
	position: fixed;
  right: 0;
  bottom: 0;
  /* min-width: 100%; */
}



.customDuck {
	/* transform: scaleX(-1) !important; */
}

ul.errorsUl {
	height: 75px;
}
